.footer {
    width: 100%;
    background-color: #212121;
    color: white;
}

.footer-content {
    width: fit-content;
    padding: 3rem;
    margin:0 auto;
    text-align: left;
}

.footer-info {
    margin-bottom: 0.5rem;
}

.footer-info span {
    margin-right: 2rem;
}